/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.06.2015., 21.36.10
    Author     : Dule
*/


.userrow1 {
    position: relative;
    float: right;
    width: 100%;
    height: 10%;
}
.userrow1 h3{
    padding: 0;
    margin-top: 0;
    
}
.userrow1 ul{

   width: 100%;
   height: 10%;
   list-style:none;
   margin: 0px;
}
.userrow1 ul li{
    list-style:none;
    position: relative;
    float:left;
    padding: 0;
}


#addUser{
    margin-left: 10px;
    padding-left: 15px;
     position: relative;
    float: left;
    width: 300px;
    height: 50px;
    display: none;
    margin: 0px;
    
}

.lli0{
    width: 30px;
    padding-top: 5px;
    margin-top: 8px;
}
.lli1{
    width: 25px;
     padding-top: 5px;
      margin-top: 8px;
}
.lli2{
    width: 110px;
     padding-top: 5px;
      margin-top: 8px;
}
.lli3{
    width: 225px;
     padding-top: 5px;
      margin-top: 8px;
}
.lli4{
    width: 85px;
     padding-top: 5px;
      margin-top: 8px;
}
.lli5{
    width: 25px;
     padding-top: 5px;
      margin-top: 8px;
}
.lli6{
    width: 250px;
     padding-top: 5px;
      margin-top: 8px;
}



.BoardAdminPanel {
    margin: 0;
    position: absolute;
    top: 12%;
    left: 10%;
    width: 80%;
    height: 85%;
    //height: 190%;
    //height: 300%;
    border-radius: 4px;
    background: #F7F7F7;
    border: solid 1px #E4E4E4;
    font-family: 'Calibri Light', sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}




.GroupPanel {
    position: relative;
    float:left;
    display: inline;
    margin-top:40px;
    margin-left: 35px;
    margin-right: 0px;
    width: 40%;
    background-color: #FBFBFF;
    padding: 7px 7px 7px 7px;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
    height: 75%;
    
     overflow-y: scroll;
    overflow-x: hidden;  
}

.leavegroup {
    position: relative;
    float:left;   
    display: inline;
    margin-top:40px;
    margin-left: 50px;
    width: 40%;
    background-color: #FBFBFF;
      padding: 7px 7px 7px 7px;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.GroupPanel::-webkit-scrollbar {
    width: 0.8em;
}
 
.GroupPanel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.GroupPanel::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.GroupPanel::-webkit-scrollbar {
    width: 0.8em;
}
 
.GroupPanel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.GroupPanel::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.GroupPanel > li {
    list-style: none;
    margin: 0 0 ;
}


.leavegroup::-webkit-scrollbar {
    width: 0.8em;
}
 
.leavegroup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.leavegroup::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.leavegroup > li {
    list-style: none;
    margin: 0 0 4em -1em;
}