/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2015, 11:26:49 PM
    Author     : Bogdana
*/

.GroupName  {
    position: absolute;
    top: 5%;
}

.AddMember {
    position: absolute;
    top: 15%;
}

.Members {
    position: absolute;
    left: 50%;
    top: 10%;
}

#suggestions {
    position: relative;
    display: inline;
}

#autoSuggestionsList > li {
    background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #E3E3E3;
    list-style: none outside none;
    padding: 3px 15px 3px 15px;
    text-align: left;
}
#autoSuggestionsList > li:hover {
    cursor: pointer;
    background: none repeat scroll 0 0 red;
}

#autoSuggestionsList > li a { 
    color: #800000; 
}

.auto_list {
    border: 1px solid #E3E3E3;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
}

#members {

    position: absolute;
    top: 10%;
    left: 70%;
    /*height: 50%;
    width: 20%;
    */
}
